<section class="user-container">
  <h2>User Profiles</h2>
  
  <article class="user-info" aria-labelledby="username1">
    <label for="username1">Username:</label>
    <span id="username1" class="user-detail">user1name</span>
    <label for="email1">Email:</label>
    <span id="email1" class="user-detail">user1email&#64;example.com</span>
  </article>

  <article class="user-info" aria-labelledby="username2">
    <label for="username2">Username:</label>
    <span id="username2" class="user-detail">user2name</span>
    <label for="email2">Email:</label>
    <span id="email2" class="user-detail">user2email&#64;example.com</span>
  </article>
</section>
